/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json

# Laravel storage directories
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep

# App storage
/storage/app/files/*
!/storage/app/files/.gitkeep
/storage/app/migration.lock

# MinIO data
/storage/minio/*
!/storage/minio/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.composer/.htaccess
.composer/cache/.htaccess
.composer/cache/files/aws/aws-crt-php/11cac29271419c1e6d045c7cf1a351eeeec7a8d3.zip
.composer/cache/files/aws/aws-sdk-php/87027f6d81d72588e3f6d7c79a8c924f2ded4ba0.zip
.composer/cache/files/brick/math/4ce686e0a48858a38f92bc3de5fd2b0fc672dff4.zip
.composer/cache/files/brick/math/f16c6a5477d081b30c1c533e806ed31d8ad923c8.zip
.composer/cache/files/carbonphp/carbon-doctrine-types/286125b8cb4236eb7b47111dd10174556e6c6c40.zip
.composer/cache/files/carbonphp/carbon-doctrine-types/d0b880ccd636794c1c9fbf973a0d7233adde846d.zip
.composer/cache/files/dflydev/dot-access-data/8e9712a1156060a9ec9f7b0065af4d53d0cda750.zip
.composer/cache/files/doctrine/inflector/656b3f4af0ba8dadbb18bcbf1e825741bfba578b.zip
.composer/cache/files/doctrine/lexer/16a5c8a6d88bc11d6da175a7b0ff18e504449819.zip
.composer/cache/files/dragonmantank/cron-expression/369da4997665b95f57c6c937d6ebdb4b77740272.zip
.composer/cache/files/egulias/email-validator/2325f9b713443a41bdd9cae876fc640df65c0c85.zip
.composer/cache/files/fakerphp/faker/cd3ee3e52b771fb0718af48c0ecde2cd7f473bdc.zip
.composer/cache/files/filp/whoops/ffb10c1355c103bdb6b22ae1a7bf86d208826083.zip
.composer/cache/files/fruitcake/php-cors/55223d35a5d1cae96ca35981a3979cda64a82c2d.zip
.composer/cache/files/graham-campbell/result-type/0dac7e9de5782168ac3dc05392cebd79f5db9227.zip
.composer/cache/files/guzzlehttp/guzzle/952e1da8da12011e5943b77b8bd4d8394f3e0d2c.zip
.composer/cache/files/guzzlehttp/promises/e46877c9653dab04e20487e55171df4cc6885d70.zip
.composer/cache/files/guzzlehttp/psr7/e90088ff16b84bf4c7735ee76ce62b62791ae1bc.zip
.composer/cache/files/guzzlehttp/uri-template/105905698688b7d1f9ad7e2cadf905a229f6b047.zip
.composer/cache/files/hamcrest/hamcrest-php/7ac05900d9d3c4092f0c5ff3f56676f924aca22f.zip
.composer/cache/files/laravel/framework/352d01578eb686551185a15d2bad16e5f19029ae.zip
.composer/cache/files/laravel/framework/592694d3a2d53d7662a4c7519d2b3ba0ed1e48f4.zip
.composer/cache/files/laravel/prompts/7ee420ad85a81543026e7831013123f28ed2e6c0.zip
.composer/cache/files/laravel/prompts/e7d5ad6b3268a9ea363cc356ec3fd44d95b7b6bd.zip
.composer/cache/files/laravel/serializable-closure/68fe39a43367caf0b6aa2308f076ef01b80d6385.zip
.composer/cache/files/laravel/serializable-closure/00431c7506be38c0650214f1d040cf13068df0dc.zip
.composer/cache/files/laravel/tinker/c3f0a7652e2b0ffde0f58e1e90d987b1fb63145d.zip
.composer/cache/files/league/commonmark/c0b9882f6f227d97c99de4b57a72cb6bf76b93ce.zip
.composer/cache/files/league/config/63acc0c0da84dd8710b3a4e58a6a4e393530da19.zip
.composer/cache/files/league/flysystem/19b5eaec418446fd280043bd4c37bf84b8be45b4.zip
.composer/cache/files/league/flysystem-local/e1c000b8fdcfaa06e10c2585e5fe5f5514f3f829.zip
.composer/cache/files/league/mime-type-detection/f8034a72fe0e8ceaee4178d7e8c47fbcedde0de3.zip
.composer/cache/files/league/uri/0c52774585b9a00f59175c1095f716700682fccd.zip
.composer/cache/files/league/uri-interfaces/b334923d66f5252ea5fb930ef5e3b481ab352382.zip
.composer/cache/files/mockery/mockery/1437e1bfd21d9aac832ae175368b2cee0e9d3719.zip
.composer/cache/files/monolog/monolog/18eb8fca7e373bf709d8c2ec0667962617410c29.zip
.composer/cache/files/mtdowling/jmespath.php/3aecde69a8ec47f5f6fde7f25bc5b5a51fd6b4c4.zip
.composer/cache/files/myclabs/deep-copy/ee382bea4b497f734eb64325af8725e5f3ffc151.zip
.composer/cache/files/nesbot/carbon/86c7efd859e2ddeca69eaa2c06320ce2b662ed32.zip
.composer/cache/files/nesbot/carbon/8714d606a6ed12816d1265fa601ebdb0d8ae1ad0.zip
.composer/cache/files/nette/schema/171b8d27d4d1c754a06e0a82acfba65c455ef4f5.zip
.composer/cache/files/nette/utils/d566913e90e39ce0d73a90152dd756ac5a00c327.zip
.composer/cache/files/nikic/php-parser/120e8c4c367e2c9f281587650378b6f59968b146.zip
.composer/cache/files/nunomaduro/collision/015c86dce9f88643545f3ba6fd3b514352af0676.zip
.composer/cache/files/nunomaduro/collision/90ee11d87f39d7690d250fd56d333b96f5674413.zip
.composer/cache/files/nunomaduro/termwind/9706cac3839296cbd407a6f09747998c4ebda482.zip
.composer/cache/files/nunomaduro/termwind/232433eaf18cf195fa85b82f94bf15f88008d968.zip
.composer/cache/files/phar-io/manifest/76bff606ca30e559b645a1f35d005f1f29c3c86e.zip
.composer/cache/files/phar-io/version/1495d1d88b1ae7e031b437037ce96298d897a969.zip
.composer/cache/files/phpoption/phpoption/2603dcc0316c5f97ba4eea233434b40ac30e10c6.zip
.composer/cache/files/phpunit/php-code-coverage/b32f2a33337d4f505f0b822e36f1fb1e72006165.zip
.composer/cache/files/phpunit/php-code-coverage/cf856df68678d10a90fff71d9e9a6f4c3eff65f2.zip
.composer/cache/files/phpunit/php-file-iterator/74b3ac93571fb41aaedd36e8b865175e924542e8.zip
.composer/cache/files/phpunit/php-file-iterator/e0a25f5db1cda5fdff2fb9babfcc7d0b61935d05.zip
.composer/cache/files/phpunit/php-invoker/a2d12339acfa75866997ae7107772fbcd4c6214d.zip
.composer/cache/files/phpunit/php-invoker/fa21284bd3106889eb5c308e4f8977dcef31b122.zip
.composer/cache/files/phpunit/php-text-template/46e8a7dfa8a0eb0f875dc53eeebc0580b587d421.zip
.composer/cache/files/phpunit/php-text-template/f890fdccec46940b4633ad050967fc9e1ba119d4.zip
.composer/cache/files/phpunit/php-timer/2110b3a737abebd4affc3f1aaf27f1f5100e2846.zip
.composer/cache/files/phpunit/php-timer/2645f4227496336a2aeb8bec0d8e3f16e20fd3f9.zip
.composer/cache/files/phpunit/phpunit/165ddd1db79643989d0271ed0e1e0b1609f245b4.zip
.composer/cache/files/phpunit/phpunit/944871b5749625ea00e628cc486a7eddfb4ed64f.zip
.composer/cache/files/psr/clock/82bf02e3a8f1b35169f8d27aa93a171ae387f779.zip
.composer/cache/files/psr/container/a0a43e15cb16e3ab95a991e1bffc813474b15cdf.zip
.composer/cache/files/psr/event-dispatcher/8f60a8cd1b7ff4e8f9782d70d78dee877a526529.zip
.composer/cache/files/psr/http-client/8a0eb9bbf4ceddbff9fd328c582c07269c8888ab.zip
.composer/cache/files/psr/http-factory/3dbec50111f2c1bcf13231bd100d8985d4495287.zip
.composer/cache/files/psr/http-message/e8baaf1c5537971c6192d7c56974d81e2ee099c3.zip
.composer/cache/files/psr/log/2961e31604f4f4de116b458f772c4aa21861c5b4.zip
.composer/cache/files/psr/simple-cache/f30344b376a5fb0289c0491e8df6aba973ba12aa.zip
.composer/cache/files/psy/psysh/ca2e9f40b89b6cea9f08b3d4dbf8360a3bf2ebc4.zip
.composer/cache/files/ralouphie/getallheaders/ddc5f4c7ab3d868f5060717336a0d93475d53175.zip
.composer/cache/files/ramsey/collection/435c62c1e67306fd98f8f2041369a0e33486e402.zip
.composer/cache/files/ramsey/uuid/6c5fa90e435fb84eae277ab3f4cc6d81fcb39907.zip
.composer/cache/files/sebastian/cli-parser/7917b42dccf77da5de05886328cbe90c9c6e9fe1.zip
.composer/cache/files/sebastian/cli-parser/112520faa3ba5ebd73b616acbf6631f1eea51ea6.zip
.composer/cache/files/sebastian/code-unit/70b1d71f3544d1fbd9780f37d5bd7a55563bb2f5.zip
.composer/cache/files/sebastian/code-unit/947384bfe4963b28ba6df88b7f8535d68314519a.zip
.composer/cache/files/sebastian/code-unit-reverse-lookup/9c298a029343db378fc03895d5483e33558073be.zip
.composer/cache/files/sebastian/code-unit-reverse-lookup/e647f1c3c3ac8eea993465f59c793cde56424acd.zip
.composer/cache/files/sebastian/comparator/7845fb8a746b4187d65e347dde8cfe92a202a262.zip
.composer/cache/files/sebastian/comparator/aeea6d320d7a0cbcf5051384f147d892e3858e5b.zip
.composer/cache/files/sebastian/complexity/17983c52e4a960e232219dc0b2a9f9363e787f53.zip
.composer/cache/files/sebastian/complexity/b30b4cd96bb79d012e4c35ce2e0897e9fa3a4fb2.zip
.composer/cache/files/sebastian/diff/4d29218c6f97167a77d625595048d51bd7bd6db7.zip
.composer/cache/files/sebastian/diff/5b966d0c26031a4401b5599d60f241f065d14b5a.zip
.composer/cache/files/sebastian/environment/5fa62d7fc3923045bca775bcdafc07b84cebd8bf.zip
.composer/cache/files/sebastian/environment/cf5ab7f5fe47d4e3f2f06963fc54f445437e07b5.zip
.composer/cache/files/sebastian/exporter/76cf39442a65652c1cb697a9c2a1c218c611416c.zip
.composer/cache/files/sebastian/exporter/ae15d093bd539f8c9df1e68841b0091ef1aefea5.zip
.composer/cache/files/sebastian/global-state/a801af7b86edc86a6e2cf51371a4dfe25450f290.zip
.composer/cache/files/sebastian/global-state/b54b251ba4c376fe9a45e0fc562f49a74f58ef37.zip
.composer/cache/files/sebastian/lines-of-code/0cfeb82c7383b694b696f674691a6e64d42a4e2e.zip
.composer/cache/files/sebastian/lines-of-code/40e8c68a54c248cd88c0c780f1bcee0e988b9921.zip
.composer/cache/files/sebastian/object-enumerator/61d042a4a964f1cd3fbba70e112bda04dc6e937b.zip
.composer/cache/files/sebastian/object-enumerator/73bb37c12489ebeda374915dc48be1b969d6fc08.zip
.composer/cache/files/sebastian/object-reflector/ab367507f6d012d16d537f4a0efbf7433fb3810e.zip
.composer/cache/files/sebastian/object-reflector/b2aeb04d3fb5de6adb035b4a337b85f005260f1e.zip
.composer/cache/files/sebastian/recursion-context/0d9b4289c37f6ec7e56021f117ae7751948497af.zip
.composer/cache/files/sebastian/recursion-context/46e9bd9ce336eb48003f49f17c801f4e9c0041d7.zip
.composer/cache/files/sebastian/type/c6434468ffbe290c2d799c4685a8a43b9eca5810.zip
.composer/cache/files/sebastian/type/d7e2e00f2a5e8427388d327bf55d9786353f44de.zip
.composer/cache/files/sebastian/version/08f0489535cc62d1b6938f88487bfb4da12d24ff.zip
.composer/cache/files/sebastian/version/9ddbebb2770481511eebf896351b698dbecd27a2.zip
.composer/cache/files/spatie/backtrace/de627948bed3cfb4facfbcc192460f89fbad519a.zip
.composer/cache/files/spatie/error-solutions/2f193bc2bfba42797106605a54855b85b126c620.zip
.composer/cache/files/spatie/flare-client-php/cf9b87893c005404ff5e7f252692ee1557c9d774.zip
.composer/cache/files/spatie/ignition/e5fdeaacda3dd68d647eb6259a7d5f2660fcd6a1.zip
.composer/cache/files/spatie/laravel-ignition/2020714410b42c36ab7f7d31f10c7617e11818b5.zip
.composer/cache/files/staabm/side-effects-detector/1bf967123c8eab6ad3b7d10ead807723f1487787.zip
.composer/cache/files/symfony/clock/77aa8256837a7766b1ce8436c8e929a9af14379d.zip
.composer/cache/files/symfony/console/5993663e71bc01519942bdb46ffbf5a6dcd07f81.zip
.composer/cache/files/symfony/console/c3cbee51db3bd695733f18a7e269eab6f1f80ef3.zip
.composer/cache/files/symfony/css-selector/f9fe9cac311698ffffddc50c370b34ceeca6110e.zip
.composer/cache/files/symfony/deprecation-contracts/dfc31d200075ad19b62edc80db7cf393e42a752e.zip
.composer/cache/files/symfony/error-handler/0acdae31b7491a4abefb92673bd120ebe35fdb49.zip
.composer/cache/files/symfony/error-handler/2089122388a78fc195b52128ee87827b43840de2.zip
.composer/cache/files/symfony/event-dispatcher/7c554ace8e92e12fdce6d4efa3eaffacfafa6ab4.zip
.composer/cache/files/symfony/event-dispatcher-contracts/d545b055747fbe7e21474979be0fb6654a624d6c.zip
.composer/cache/files/symfony/finder/444e7d5801a7020474828ab3b66f96c0b9dbc1d0.zip
.composer/cache/files/symfony/finder/54909e743ea286fcaa015a4d4466339aaecef395.zip
.composer/cache/files/symfony/http-foundation/7ce30d969b959277052298e619341d584dca0caf.zip
.composer/cache/files/symfony/http-foundation/225300ee91cbe1ed5a9c448483e97534a3bac875.zip
.composer/cache/files/symfony/http-kernel/9f84d9a0183a0961eec2e3da510b4a12bbf42d27.zip
.composer/cache/files/symfony/http-kernel/eae0001679ed6e6794c46ac0d7e8628bf47a66c2.zip
.composer/cache/files/symfony/mailer/a36ba6b309eb948be4087b0d5f449f298b51b74e.zip
.composer/cache/files/symfony/mailer/df536c4dcf8150872764244034d7adbff959ae44.zip
.composer/cache/files/symfony/mime/3b9969fd035b2381d556c682da41153a396fded3.zip
.composer/cache/files/symfony/mime/3ee0ccdea3d9900289c371fcf347eb6383b8b9f0.zip
.composer/cache/files/symfony/polyfill-ctype/bc53d8673d3aba9f82416a0c7c5c9d0c27150b84.zip
.composer/cache/files/symfony/polyfill-intl-grapheme/034616cbe3b3030f2c4bc822b1ee8cd9dc94d0e8.zip
.composer/cache/files/symfony/polyfill-intl-idn/805877f0ed53fba8b473f9cbf2fcb25da45ccc5f.zip
.composer/cache/files/symfony/polyfill-intl-normalizer/7a827f163e8095d00cb2eec5307910ceaf9f3260.zip
.composer/cache/files/symfony/polyfill-mbstring/4a27f8b9ff70570be237bcfd23ca14fcd9fff8e0.zip
.composer/cache/files/symfony/polyfill-php80/b4d6d6a990d43a5b6e5bcfc2f09015902d156362.zip
.composer/cache/files/symfony/polyfill-php83/58f6b5fa927ea8a27dec838fa03d568ab07bc0d5.zip
.composer/cache/files/symfony/polyfill-uuid/38f3a431ab9147ea0df76e4db120628a54cf13ec.zip
.composer/cache/files/symfony/process/9d7ef6cebee04d5ab4a724bd72f44724c9cb80a2.zip
.composer/cache/files/symfony/process/60175abb8c6d56fc85688b6663379645a0eb27e7.zip
.composer/cache/files/symfony/routing/43c73439d3256b29d49954c2a9f5d3d23e0e550b.zip
.composer/cache/files/symfony/routing/383cb7d2373c5d4b0f9ec36614e517b71e627a6e.zip
.composer/cache/files/symfony/service-contracts/76b5cb3da3a568a2f1ba3b8320cda5886b6b4764.zip
.composer/cache/files/symfony/string/3e6fbb3a4aa2d5ff8c298d0a566cb7b1713ee97c.zip
.composer/cache/files/symfony/translation/8baff5cb2427e82bd22927afb34aa1c18b8680c6.zip
.composer/cache/files/symfony/translation/cabce0c30a3c90c2ff85820839e492beab822962.zip
.composer/cache/files/symfony/translation-contracts/66ef0dd551461a7cd9b76dc3577751cfe0494ff6.zip
.composer/cache/files/symfony/uid/3f6d9975b33c1ed0e09825f254dc7280bd06568e.zip
.composer/cache/files/symfony/uid/b7c07e50adb08d14b567b85f957aff14476e0dac.zip
.composer/cache/files/symfony/var-dumper/3ba7c46935f10d5306c789c27148cba6301a68d1.zip
.composer/cache/files/symfony/var-dumper/aca8d98444bd5ea9b5ece54edd4b6a16130d6101.zip
.composer/cache/files/theseer/tokenizer/ebcafcca2f634e449f3dd6fab264eda16b83271b.zip
.composer/cache/files/tijsverkoyen/css-to-inline-styles/89f6ca37a1e184ae10c515c36473eba90a249da5.zip
.composer/cache/files/vlucas/phpdotenv/286e3ab584e851687a2d3401157760aa86f4d250.zip
.composer/cache/files/voku/portable-ascii/7fb56572e26172b3fe9f2dade6a7fa006bc6bc3d.zip
.composer/cache/repo/https---repo.packagist.org/packages.json
.composer/cache/repo/https---repo.packagist.org/provider-aws~aws-crt-php.json
.composer/cache/repo/https---repo.packagist.org/provider-aws~aws-sdk-php.json
.composer/cache/repo/https---repo.packagist.org/provider-brick~math.json
.composer/cache/repo/https---repo.packagist.org/provider-carbonphp~carbon-doctrine-types.json
.composer/cache/repo/https---repo.packagist.org/provider-dflydev~dot-access-data.json
.composer/cache/repo/https---repo.packagist.org/provider-doctrine~deprecations.json
.composer/cache/repo/https---repo.packagist.org/provider-doctrine~inflector.json
.composer/cache/repo/https---repo.packagist.org/provider-doctrine~lexer.json
.composer/cache/repo/https---repo.packagist.org/provider-dragonmantank~cron-expression.json
.composer/cache/repo/https---repo.packagist.org/provider-egulias~email-validator.json
.composer/cache/repo/https---repo.packagist.org/provider-fakerphp~faker.json
.composer/cache/repo/https---repo.packagist.org/provider-filp~whoops.json
.composer/cache/repo/https---repo.packagist.org/provider-fruitcake~php-cors.json
.composer/cache/repo/https---repo.packagist.org/provider-graham-campbell~result-type.json
.composer/cache/repo/https---repo.packagist.org/provider-guzzlehttp~guzzle.json
.composer/cache/repo/https---repo.packagist.org/provider-guzzlehttp~promises.json
.composer/cache/repo/https---repo.packagist.org/provider-guzzlehttp~psr7.json
.composer/cache/repo/https---repo.packagist.org/provider-guzzlehttp~ringphp.json
.composer/cache/repo/https---repo.packagist.org/provider-guzzlehttp~streams.json
.composer/cache/repo/https---repo.packagist.org/provider-guzzlehttp~uri-template.json
.composer/cache/repo/https---repo.packagist.org/provider-hamcrest~hamcrest-php.json
.composer/cache/repo/https---repo.packagist.org/provider-illuminate~bus.json
.composer/cache/repo/https---repo.packagist.org/provider-illuminate~collections.json
.composer/cache/repo/https---repo.packagist.org/provider-illuminate~conditionable.json
.composer/cache/repo/https---repo.packagist.org/provider-illuminate~console.json
.composer/cache/repo/https---repo.packagist.org/provider-illuminate~container.json
.composer/cache/repo/https---repo.packagist.org/provider-illuminate~contracts.json
.composer/cache/repo/https---repo.packagist.org/provider-illuminate~events.json
.composer/cache/repo/https---repo.packagist.org/provider-illuminate~filesystem.json
.composer/cache/repo/https---repo.packagist.org/provider-illuminate~macroable.json
.composer/cache/repo/https---repo.packagist.org/provider-illuminate~pipeline.json
.composer/cache/repo/https---repo.packagist.org/provider-illuminate~support.json
.composer/cache/repo/https---repo.packagist.org/provider-illuminate~view.json
.composer/cache/repo/https---repo.packagist.org/provider-laravel~framework.json
.composer/cache/repo/https---repo.packagist.org/provider-laravel~prompts.json
.composer/cache/repo/https---repo.packagist.org/provider-laravel~serializable-closure.json
.composer/cache/repo/https---repo.packagist.org/provider-laravel~tinker.json
.composer/cache/repo/https---repo.packagist.org/provider-league~commonmark.json
.composer/cache/repo/https---repo.packagist.org/provider-league~config.json
.composer/cache/repo/https---repo.packagist.org/provider-league~flysystem-local.json
.composer/cache/repo/https---repo.packagist.org/provider-league~flysystem.json
.composer/cache/repo/https---repo.packagist.org/provider-league~mime-type-detection.json
.composer/cache/repo/https---repo.packagist.org/provider-league~uri-interfaces.json
.composer/cache/repo/https---repo.packagist.org/provider-league~uri.json
.composer/cache/repo/https---repo.packagist.org/provider-mockery~mockery.json
.composer/cache/repo/https---repo.packagist.org/provider-monolog~monolog.json
.composer/cache/repo/https---repo.packagist.org/provider-mtdowling~jmespath.php.json
.composer/cache/repo/https---repo.packagist.org/provider-myclabs~deep-copy.json
.composer/cache/repo/https---repo.packagist.org/provider-nesbot~carbon.json
.composer/cache/repo/https---repo.packagist.org/provider-nette~schema.json
.composer/cache/repo/https---repo.packagist.org/provider-nette~utils.json
.composer/cache/repo/https---repo.packagist.org/provider-nikic~php-parser.json
.composer/cache/repo/https---repo.packagist.org/provider-nunomaduro~collision.json
.composer/cache/repo/https---repo.packagist.org/provider-nunomaduro~termwind.json
.composer/cache/repo/https---repo.packagist.org/provider-paragonie~random_compat.json
.composer/cache/repo/https---repo.packagist.org/provider-phar-io~manifest.json
.composer/cache/repo/https---repo.packagist.org/provider-phar-io~version.json
.composer/cache/repo/https---repo.packagist.org/provider-phpoption~phpoption.json
.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-code-coverage.json
.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-file-iterator.json
.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-invoker.json
.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-text-template.json
.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-timer.json
.composer/cache/repo/https---repo.packagist.org/provider-phpunit~phpunit.json
.composer/cache/repo/https---repo.packagist.org/provider-psr~cache.json
.composer/cache/repo/https---repo.packagist.org/provider-psr~clock.json
.composer/cache/repo/https---repo.packagist.org/provider-psr~container.json
.composer/cache/repo/https---repo.packagist.org/provider-psr~event-dispatcher.json
.composer/cache/repo/https---repo.packagist.org/provider-psr~http-client.json
.composer/cache/repo/https---repo.packagist.org/provider-psr~http-factory.json
.composer/cache/repo/https---repo.packagist.org/provider-psr~http-message.json
.composer/cache/repo/https---repo.packagist.org/provider-psr~log.json
.composer/cache/repo/https---repo.packagist.org/provider-psr~simple-cache.json
.composer/cache/repo/https---repo.packagist.org/provider-psy~psysh.json
.composer/cache/repo/https---repo.packagist.org/provider-ralouphie~getallheaders.json
.composer/cache/repo/https---repo.packagist.org/provider-ramsey~collection.json
.composer/cache/repo/https---repo.packagist.org/provider-ramsey~uuid.json
.composer/cache/repo/https---repo.packagist.org/provider-react~promise.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~cli-parser.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~code-unit-reverse-lookup.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~code-unit.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~comparator.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~complexity.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~diff.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~environment.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~exporter.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~global-state.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~lines-of-code.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~object-enumerator.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~object-reflector.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~recursion-context.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~type.json
.composer/cache/repo/https---repo.packagist.org/provider-sebastian~version.json
.composer/cache/repo/https---repo.packagist.org/provider-spatie~backtrace.json
.composer/cache/repo/https---repo.packagist.org/provider-spatie~error-solutions.json
.composer/cache/repo/https---repo.packagist.org/provider-spatie~flare-client-php.json
.composer/cache/repo/https---repo.packagist.org/provider-spatie~ignition.json
.composer/cache/repo/https---repo.packagist.org/provider-spatie~laravel-ignition.json
.composer/cache/repo/https---repo.packagist.org/provider-staabm~side-effects-detector.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~clock.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~console.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~contracts.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~css-selector.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~debug.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~deprecation-contracts.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~error-handler.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~event-dispatcher-contracts.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~event-dispatcher.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~finder.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~http-foundation.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~http-kernel.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~mailer.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~mime.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-ctype.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-intl-grapheme.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-intl-idn.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-intl-normalizer.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-mbstring.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php70.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php72.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php73.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php80.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php81.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php83.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php84.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php85.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-uuid.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~process.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~routing.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~service-contracts.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~string.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~translation-contracts.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~translation.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~uid.json
.composer/cache/repo/https---repo.packagist.org/provider-symfony~var-dumper.json
.composer/cache/repo/https---repo.packagist.org/provider-theseer~tokenizer.json
.composer/cache/repo/https---repo.packagist.org/provider-tijsverkoyen~css-to-inline-styles.json
.composer/cache/repo/https---repo.packagist.org/provider-vlucas~phpdotenv.json
.composer/cache/repo/https---repo.packagist.org/provider-voku~portable-ascii.json
.composer/cache/repo/https---repo.packagist.org/provider-webmozart~assert.json
