# Dependencies
/vendor/
/node_modules/

# Laravel
/bootstrap/compiled.php
/public/storage
/public/hot
/public/build
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/pail

# Application Storage
/storage/app/files/*
!/storage/app/files/.gitkeep
/storage/app/migration.lock

# MinIO Data
/storage/minio/*
!/storage/minio/.gitkeep

# Environment
.env
.env.backup
.env.production
auth.json

# IDE
.idea/
.vscode/
*.swp
*.swo
.phpactor.json

# OS
.DS_Store
Thumbs.db

# Composer
.composer/

# Testing
.phpunit.result.cache

# Build
npm-debug.log
yarn-error.log

# Vagrant
/.vagrant
Homestead.yaml
Homestead.json
.config/psysh/psysh_history
